name: openwrt-packages

on:
  schedule:
    - cron: 0 0 * * 1
  push:
    branches: 
      - main

jobs:
  release-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: echo ${{ github.sha }} > Release.txt
      - name: Test
        run: cat Release.txt
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: compile at ${{ steps.date.outputs.date }}
          name: ${{ steps.date.outputs.date }}
          tag_name: v${{ steps.date.outputs.date }}
          files: |
            Release.txt
            LICENSE
  release-test-2:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: echo ${{ github.sha }} > Release.txt
      - name: Test
        run: cat Release.txt
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: compile at ${{ steps.date.outputs.date }}
          name: ${{ steps.date.outputs.date }}
          tag_name: v${{ steps.date.outputs.date }}
          files: |
            Release.txt
            LICENSE
